.navbar{
    position: fixed;
    top: 0;
    right: 0;
    background-color: #003f67;
    width: 100%;
}.logoFLow{margin-right: 500px; width: 10%}

.navTitle{
    color: #c8c8ff;
    font-size: 30px;
}.navTitle:hover{color: mediumpurple;}

.navElement{
    margin-left: 50px;
    color: white;
}.navElement:hover{color: lightgreen; text-decoration: underline;}

.searchButton{
    color: white;
    background-color: #003f67;
}.searchBar{width: 280px}