/* Navbar container */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 110px;
    background: linear-gradient(90deg, #002c4b, #004f76);
    /* background-color: #212529;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 1000;
}

/* Sections */
.navbar-left,
.navbar-right {
    width: 200px;
    display: flex;
    align-items: center;
}

.navbar-center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.toggle-button {
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    display: none;
    cursor: pointer;
}

.navbar-logo {
    height: 90px;
    width: auto;
    cursor: pointer;
}


.nav-link {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    padding: 8px 14px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.nav-link:hover {
    background-color: rgba(255,255,255,0.15);
}

.nav-button {
    background-color: #00b894;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #00997b;
}
