.card-text{
    color: rgba(154,90,148,0.98);
    font-size: 30px;
}
.card{
    background-color: black;
}
.card-group{
    color: white;
    width: 1920px;
    height: 910px;
    position: fixed;
    left: 0;
    bottom: 0;
}
